.footer__column-link {
  margin: 0;
  text-decoration: none;
  color: white;
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  opacity: 1;
  transition: 1s ease-in;
}

.footer__column-link:hover {
  opacity: 0.5;
  color:cornflowerblue;
}
