.feynman__link {
  top: 50%;
  right: 48px;
  position: absolute;
  text-decoration: none;
  color: #2f80ed;
  cursor: pointer;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  opacity: 1;
}

.feynman__link:hover {
  transition: 1s ease-in;
  color:turquoise;
  opacity: 0.5;
}
