.kaufman__triangle {
  background: url('../__triangle/kaufman-triangle.svg');
  height: 877px;
  width: 877px;
  background-size: cover;
  right: -210px;
  position: absolute;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 2;
}
