.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}


.header_position {
  display: flex;
  position: relative;
  background-color: #f2f2f2;
  margin: auto;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
}

.logo {
  width: 183px;
}

.logo_place_header {
  top: 30px;
  z-index: 2;
  margin: 0;
  left: 64px;
  position: absolute;
}

.header__title {
  width: 730px;
  margin: 0;
  font-size: 102px;
  font-weight: bold;
  line-height: 96px;
  z-index: 3;
  align-self: center;
  left: 64px;
  position: absolute;
}

.header__subtitle {
  z-index: 2;
  width: 388px;
  bottom: 30px;
  margin: 0;
  left: 64px;
  position: absolute;
}

.header__subtitle_text {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
  cursor: pointer;
}

.header__main-illustration {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 765px;
  height: 608px;
  z-index: 1;
}

.header__square-pic {
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
  height: 568px;
  width: 568px;
  z-index: 0;
}

.content_position {
  margin-top: 100px;
}

.description {
  margin: auto;
  display: flex;
}

.two-columns {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: auto;
}

.two-columns__brief {
  width: 175px;
  margin: 0 100px 0 0;
  justify-content: space-between;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.two-columns__brief_color {
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columms__main-text_style {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph {
  margin: 0;
}

.two-columns__paragraph:nth-child(2) {
  margin-bottom: 30px;
  margin-top: 30px;
  }

.two-columns__span-accent {
  font-weight: bold;
  margin: 0;
}

.digits {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.section-title_position {
  margin: 0 0 20px 0;
  width: 60%;
}

.section-title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  align-self: center;
}

.section-subtitle {
  width: 60%;
  margin: 0;
  text-align: center;
  align-self: center;
}

.section-subtitle_text {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  width: 1100px;
}

.table_flex {
  display: flex;
  flex-flow:row wrap;
  justify-content: space-between;
  align-items: stretch;
  margin: auto;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin:0;
}

.table__text {
  margin: 0;
}

.table__text_position {
  margin-top: 20px;
}

.feynman {
  min-height: 890px;
  flex-direction: column;
  background: url('../images/feynman.png') bottom left/867px 637px no-repeat;
  background-color: #f2f2f2;
  margin-top: 100px;
  display: flex;
  position: relative;
}

.feynman__title {
  width: 648px;
}

.feynman__title_position {
  align-self: center;
  margin: 100px 0 70px 0;
}

.feynman__title_style {
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
}

.feynman__subtitle_position {
  margin: 0;
  text-align: center;
  align-self: center;
}

.feynman__subtitle_text-style {
  line-height: 51px;
  font-size: 36px;
  font-weight:normal normal;
}

.feynman__link {
  top: 50%;
  right: 48px;
  position: absolute;
  text-decoration: none;
  color: #2f80ed;
  cursor: pointer;
}

.kaufman {
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  color: white;
}

.kaufman_style {
  background-color: #1f1f1f;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.section-title_theme_dark {
  margin: 90px 0 20px 0;
}

.section-subtitle_theme_dark {
  margin: 0;
  text-align: center;
  align-self: center;
}

.table_theme_dark {
  margin-bottom: 90px;
}

.table__cell_theme_dark {
  width: 200px;
  margin-right: 0;
  margin-top: 80px;
  z-index: 2;
}

.table__text_theme_dark {
  justify-content: space-between;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.kaufman__triangle {
  background-image: url('../images/kaufman-triangle.svg');
  width: 877px;
  height: 877px;
  right: -210px;
  position: absolute;
  background-repeat: no-repeat;
  background-position: top;
}

.footer {
  min-height: 350px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  background-color: #1f1f1f;
  padding: 0;
  color: white;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-bottom: 40px;
  margin-top: 60px;
}

.footer__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.footer__column_content_copyright {
  flex-basis: 711px;
}

.logo_place_footer {
  height: 35px;
  background-image:url('../images/logo_place_footer.svg');
}

.footer__author {
  bottom: 0;
  padding-bottom: 18px;
  padding-top: 18px;
  margin: 0;
}

.footer__column-heading {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  margin: 0;
}

.footer__column-links {
  margin: 20px 0 16px 0;
  padding: 0;
  list-style-type: none;
}

.footer__column-link {
  margin: 0;
  text-decoration: none;
  color: white;
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
